



.continer{
  border: 1px solid;
  width: 98%;
  /* height: 80vh; */
  margin: auto;
  margin-top: 8px;
}

.mine {
  width: 96%;
  height: auto;
  /* border: 1px solid; */
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}

.left {
  /* border: 1px solid; */
  margin-left: 117px;
}


.right {
  /* border: 1px solid; */
  width: 40%;
  height: 400px;
}

.headc {
  /* border: 1px solid; */
  width: 100%;
  height: 140px;
}

.clas1 {
  width: 100%;
  height: 100px;
  border-bottom: 1px dotted;
}

.clas1 > h1{
  /* border: 1px solid; */
  /* background-color: aqua; */
  font-size:30px;
  color: red;
}

.clas1 > h1 > span{
  color: white;
}

.clas2 {
  /* border: 1px solid; */
  height: 230px;
  margin-top: 30px;
}

.clas2>p{
  color: aqua;
  justify-content: center;
  text-align:center;
}

.clas2>button{
  background-color: red;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  margin-left: 20px;
  margin-top: 50px;
}







.imgbb {
    width: 99%;
    height: 500px;
    /* border: 1px solid; */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  
  .imgCom {
    /* border: 1px solid white; */
    border-radius: 5px;
    width: 22%;
    height: 60%;
    margin: 0px 10px;
    background-color: rgb(28 29 29);
    z-index: 0;
    opacity: 0.8;
  }
  
  .imgCom > img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-left: 115px;
    margin-top: 25px;
  }
  .imgCom > h1 {
    /* margin: auto; */
    display: inline;
    /* width: 39px; */
    margin-left: 75px;
    margin-top: 9px;
    color: white;
  }
  
  .imgCom > p {
    text-align: center;
    color: white;
    width: 250px;
    margin: auto;
    margin-top: 20px;
    font-size: 12px;
  }
  
  .icon {
    /* border: 1px solid white; */
    height: 40px;
    width: 210px;
    margin-top: 40px;
    margin-left: 60px;
    /* font-size: xx-large; */
    color: aqua;
    display: flex;
  }
  svg {
    margin: 0px 10px;
  }
  
  .cel {
    width: 120px;
    height: 120px;
    background-color: #ff00a1bf;
    border-radius: 100px;
    position: relative;
    top: -160px;
    left: 35px;
    /* opacity: 0.5; */
    box-shadow: 1px 1px 25px #ff00a1bf;
  }
  
  .cela {
    width: 160px;
    height: 160px;
    background-color: #006aff8f;
    border-radius: 100px;
    position: relative;
    top: 144px;
    left: -85px;
    /* opacity: 0.5; */
    box-shadow: 1px 1px 25px #006aff8f;
  }